<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js?ver=1.3.2'></script>
	<script type='text/javascript' src='js/jquery.mousewheel.min.js'></script>
	<script src="js/rolar-pagina.js"></script>
	<style>
		@media(min-width: 270px) and (max-width: 2000px) {
			body {
				width: 90%;
				height: 250px;
				background: transparent;
				overflow: hidden;
			}
			#lojas {width: 160%;}
			#lojas img {
				width: 250px;
				height: 250px;
			}
		}
	</style>
</head>
<body>
	<div id="lojas">
		<img src="img/tecnologia/logo-intel.jpg">
		<img src="img/tecnologia/logo-acer.jpg">
		<img src="img/tecnologia/logo-americanas.jpg">
		<img src="img/tecnologia/logo-claro.jpg">
		<img src="img/tecnologia/logo-microsoft.jpg">
		<img src="img/tecnologia/logo-nextel.jpg">
		<img src="img/tecnologia/logo-oi.png">
		<img src="img/tecnologia/logo-tim.png">
	</div>
</body>
</html>